<h1>All Goals</h1>

  <table>
  <% @goals.each do |goal| %>
    <tr>
      <td>
        <%= goal.title %>
         &nbsp;&nbsp;

      </td>
      <td> Details:
        <%= goal.content %> &nbsp;&nbsp;
      </td>
      <td>
        Status:
        <%= goal.render_status %>
      </td>
      <td>
        Author: <%= goal.user.username %>
      </td>
      <td>
        <%if goal.user == current_user && !goal.complete %>
          <form action="<%=goal_url(goal)%>" method="post">
            <input type="hidden" name="_method" value="patch">
            <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
            <input type="hidden" name="goal[complete]" value="true">
            <button>Complete</button>
          </form>
        <% end %>
      </td>


    </tr>
  <% end %>
</table>
