<h2><%= @goal.title %></h2>
<h3>By: <%= link_to @goal.user.username, @goal.user %></h3>
<p>Status: <%= @goal.render_status  %></p>
<p><%= @goal.content %></p>

<%= render "shared/comments", commentable: @goal %>
