<!DOCTYPE html>
<html>
<head>
  <title>AppSpirations</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    <%= current_user.username %>
    <form action="/session" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
      <button>Log Out</button>
    </form>
  <% else %>
    <a href="/session/new">Log In</a>
    <a href="/users/new">Sign Up</a>
  <% end %>
<br>
<%= flash[:errors].join("<br>").html_safe if flash[:errors] %>

<%= yield %>
<br><br>

<%if logged_in? %>
<a href="/goals/new">New Goal</a>
<%end%>

</body>
</html>
